<nb-layout>

  <nb-layout-header fixed>
    <span>Ingenierie des systemes</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="/">Chat Bot</button>
    <button *ngIf="loggedIn" mat-flat-button routerLink="/admin">Admin</button>
    <button mat-flat-button (click)="openBottomSheet()">Account</button>
  </nb-layout-header>
  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <p style="margin:0">made with <mat-icon style="font-size: 10px;width:10px;">favorite</mat-icon> by Nicolae, Sofia
      and Ciuca</p>
  </nb-layout-footer>

</nb-layout>
