<mat-spinner style="position: absolute;  top: 50%;
left: 50%;
transform: translate(-50%, -50%);z-index: 1000;" *ngIf="loading"></mat-spinner>
<div style="margin-left:auto;padding:1em;">
    <button mat-raised-button  (click)="openDialog()">{{ "ADMIN.ADDINTENT" | translate }}</button>
    <button style="margin-left:1em;" mat-raised-button (click)="retrainModel()">{{ "ADMIN.RETAINMODEL" | translate }}</button>
  </div>
<mat-accordion>
    <mat-expansion-panel *ngFor="let intent of intents; let i = index;trackBy: trackByFn"
      [attr.data-index]="i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{intent.intentkey}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div style="display:flex">
        <h3>{{ "ADMIN.QUESTIONS" | translate }}</h3>
        <button style="margin-left:auto" (click)="addIntent(i,'question',intent.intentkey)" mat-mini-fab
           aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div style="display:flex ;flex-wrap: wrap;">
        <p style="margin-left:1em;margin-right:1em"
          *ngFor="let item of intents[i].intent.questions; let x = index;trackBy: trackByFn"
          [attr.data-index]="x">
          <mat-form-field appearance="outline">
            <mat-label>{{ "ADMIN.QUESTION" | translate }}</mat-label>
            <input [(ngModel)]="intents[i].intent.questions[x]" (blur)="updatedIntent(intent.intentkey,i)"
              matInput type="text">
            <button mat-icon-button matSuffix (click)="deleteIntent(i,'question',x,intent.intentkey)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </div>
      <div style="display:flex">
        <h3>{{ "ADMIN.ANSWERS" | translate }}</h3>
        <button style="margin-left:auto" (click)="addIntent(i,'answer',intent.intentkey)" mat-mini-fab
           aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div style="display:flex ;flex-wrap: wrap;">
        <p style="margin-left:1em;margin-right:1em"
          *ngFor="let item of intents[i].intent.answers; let y = index ;trackBy: trackByFn"
          [attr.data-index]="y">
          <mat-form-field appearance="outline">
            <mat-label>{{ "ADMIN.ANSWER" | translate }}</mat-label>
            <input [(ngModel)]="intents[i].intent.answers[y]" (blur)="updatedIntent(intent.intentkey,i)"
              matInput type="text">
            <button mat-icon-button matSuffix (click)="deleteIntent(i,'answer',y,intent.intentkey)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </p>
      </div>
    </mat-expansion-panel>

  </mat-accordion>